form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

a {
text-decoration: none;
color: grey;
}

a:hover {
  text-decoration: underline;
}

button {
  color:#3d3d3d;
  margin: 11px 4px;
  padding: 5px 16px;
  height: 36px;
  background: #F8F9FA;
  border:none;
  min-width: 56px;
}

button:hover{
  cursor:pointer;
  border: 1px solid #dadfe4;
}

#topdiv {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color:grey;
  background-color: white;
  width: 100%;
}

#ele {
  margin: 0px 5px;
  font-size:15px;
}

#end {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0px 5px;
  font-size:14px;
}

#botdiv {
  display:flex;
  position:absolute;
  left:0px;
  bottom: 0px;
  justify-content: space-between;
  padding: 15px 0px;
  background-color: #f2f2f2;
  width: 100%;
}

#me {
border-radius: 50%;
width:40px;
height: auto;
}

#searchbox{
  margin: 0px;
  padding: 10px;
  width: 50vh;
  border: 0;
}
#searchbar {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 25px;
}

#searchbar:hover{
  box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2), 0 6px 20px 0 rgba(163, 163, 163, 0.19);
}

